.header{
    width: 100%;
    /* min-height: 100px; */
    height: 100px;
    background-color: #211e1f;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    /* width: 100px; */
    height: 150px;
    min-width: 200px;
    background-color: #211e1f;
}

.topnav {
    width: 60%;
    /* height:75px; */
    /* min-height:75px; */
    /* background-color: rgb(219, 83, 83); */
    display:flex;
    justify-content: flex-end;
}
  
/* Style the links inside the navigation bar */
.navItem {
    width: 135px;
    height: 50px;
    background-color: none;
    color: #00ace1;
    text-align: center;
    /* padding: 25px 16px; */
    padding: 15px 25px 16px 25px;
    text-decoration: none;
    font-size: 17px;
    border-left: 3px solid #211e1f;
    border-radius: 10px;
}

.navItemDropDown{
    /* width:27%; */
    /* display: inline; */
    padding-left:8px;
    padding-right:0px;
}

.userNavItem{
    float: left;
    overflow: hidden;
}

.navDropDown .dropButton{
    /* width: 500px !important; */
    font-size: 16px;
    /* border: none;
    outline: none; */
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
.navItemDropDown{
    /* margin-right: 10px; */
}

.loggedInIcon{
    line-height: 20px;
    padding-left: 10px;
    margin-top: 5px;
}

.dropDownContent {
    display: none;
    position: block;
    background-color: #f9f9f9;
    /* min-width: 500px; */
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
  }

.dropDownContent a {
    /* width: 500px !important; */
    /* width:150px; */
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navItemDropDown:hover .dropDownContent {
    display: inline-block;
}


/* .navItem:nth-child(2) .navItem:nth-child(4){
    font-size: 15px;
} */
  
  /* Change the color of links on hover */
.navItem:hover {
    cursor: pointer;
    background-color: #00ace1;
    color: #f9f9f9;
    /* color: black; */
}
  
  /* Add a color to the active/current link */
.active {
    background-color: #04AA6D;
    color: white;
}
@media (max-width: 800px) {
    .navItemDropDown{
        width:150px;
        /* display: inline; */
        padding-left:0px;
        padding-right:0px;
    }
}
@media (max-width: 700px) {
    
    .loggedInIcon{
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .navItem {
        font-size:14px;
        padding:18px 0;
    }
    
    .navItemDropDown{
        /* width:27%; */
        /* display: inline; */
        padding-top: 10px;
        padding-left:4px;
        padding-right:4px;
    }
    .dropDownContent {
        margin-top: 15px;
      }
}