.header{
    width: 100%;
    height: 100px;
    background-color: #211e1f;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 10px;
}

.logo{
    height: 150px;
    min-width: 200px;
    background-color: #211e1f;
    cursor: pointer;
}

.topnav {
    width: 60%;
    display:flex;
    justify-content: flex-end;
}
  
.navItem {
    height: 50px;
    background-color: none;
    color: #00ace1;
    text-align: center;
    padding: 15px 25px 16px 25px;
    text-decoration: none;
    font-size: 17px;
    border-left: 3px solid #211e1f;
    border-radius: 10px;
}


.loggedInIcon{
    position: absolute;
    padding-left: 5px;
}

.dropDown{
    position: relative;
}

.dropDownMenu{
    display: none;
    z-index: 2;
    position: absolute;
    background-color: #211e1f;
    right:0;
    padding: 0 10px;
    top: 50px;
    box-shadow: 0 2px 5px 0 rgba(114, 114, 114, 0.5);
}

.dropDownHeading{
    font-size: 24px;
    border-bottom: #00ace1 1px solid;
}

.dropDown:hover > .informationGrid{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    color: #00ace1;
}

.dropDownLinks{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    gap: .25rem;
}


.dropDownMenu a{
    display: inline-block;
    background-color: #211e1f;
    width: 100%;
}

.dropDownMenu a:hover{
    color: white;
}

.navItem:hover {
    cursor: pointer;
    background-color: #00ace1;
    color: #f9f9f9;
}
@media (max-width: 700px) {
    .navItem {
        font-size:16px;
        padding:18px 5px;
    }
}

