.container{
    color: #f1f1f1; 
    width: 100%;
    padding:0;
    background-color: #211e1f;
    display: block;
    text-align: center;
    padding: 5px 0;
}

.container:hover{
    background-color: #222722;
}

.details{
    flex-direction: column;
    margin: 0 20px 0 20px;
}

.newsImage{
    object-fit: contain;
}

.hLine{
    height: 5px;
    background-color: #00ace1;
    border-color: #00ace1;
    border-radius: 5px;
    text-decoration: none;
    width: 95%;
}

.newsContainer:last-child hr{
    display: none;

}
@media only screen and (max-width: 980px) {
    .container{
        margin:auto;
    }
    .leftAlign{
        text-align: left;
    }
    .newsImage{
        margin-left: 200px;
    }
  }