.stockContainer{
    color:black;
    width: 400px;
    height: 150px;
    font-size: 18px;
    background-color: #00ace1;
    margin: 10px 5px; 
    display: table;
    padding-bottom: 10px;
    border-radius: 15px;
}
.row{
    display:table-row;
}
.ticker{
    font-size: 22px;
    margin: 0 10px 0 5px;
}
.leftContainer{
    border-top-left-radius: 15px;
    display:table-cell;
    width: 50%;
    margin-right:0;
    height:50px;
    background-color: #eee;

    padding-left: 20px;
}
.leftContainer div, .rightContainer div{
    padding-top:7px;
}
.posChange{
    color: rgb(1, 212, 1);
}
.negChange{
    color: red;
}
.rightContainer{
    border-top-right-radius: 15px;
    text-align: center;
    display:table-cell;
    height:100px;
    background-color: #fff;
}
.rightContainer div{
    line-height: 20px;
}
.addDeleteButton{
    position: relative;
    width: 25px;
    height: 25px;
    right:0px;
    border: 0;
    background-color: inherit;
}
.addDeleteButton :hover{
    cursor: pointer;
}
.buttonDiv{
    padding-right: 10px;
    text-align: right;
}
.name{
    word-wrap: break-word;
    font-size: 20px;
    text-align: center;
    width:200%;
    color:white;
}


.moreInfoButton{
    width: 100%;
    height: 25px;
    position: relative;
    left:50%;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.notSupportedButton{
    cursor: not-allowed;
}

.borderBottom{
    border-bottom: 3px;
    background-color: red;
}

@media (min-width:1240px) {
    .stockContainer{
        width: 400px;
        font-size: 22px;
    }
    .addDeleteButton{
        position: relative;
        width: 30px;
        height: 30px;
    }
    .moreInfoButton{
        font-size: 20px;
        height: 35px;
        margin-top: 5px;
    }
    .name{
        font-size: 30px;
    }

    
}
@media (max-width:840px) {
    .stockContainer{
        width: 300px;
    }
    
}
@media (max-width:643px) {
    .stockContainer{
        width: 100%;
    }
    
}